<html>
   <head>
      <title>BioThings Explorer</title>
      <meta name = "viewport" content = "width = device-width, initial-scale = 1">         
      <link rel = "stylesheet"
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel = "stylesheet"
         href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <link href="./static/css/landing_style.css" rel="stylesheet" />
      <script type = "text/javascript"
         src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
      </script>

   </head>
   
   <body> 
      <nav role="navigation">
          <div class="nav-wrapper orange">
              <a href="#!" class="brand-logo">BioThings Explorer</a>
              <ul class="right hide-on-med-and-down">
              <li><a href="tutorial" id="map">TUTORIAL</a></li>
              <li><a href="api" id="api">API</a></li>
              <li><a href="#" id="explore">EXPLORE</a></li>
              </ul>
          </div>
      </nav>
      <div class="section no-pad-bot" id="index-banner">
        <div class="row">
          <div class="col m12 l6">
            <br><br>
            <h1 class="header center black-text">BioThings Explorer</h1>
            <div class="row center">
              <h5 class="header col s12 light black-text">Biological Knowledge Exploration through Linked API Services</h5>
            </div>
            <div class="row center">
              <a href="#main" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
            </div>
          </div>
          <div class="col m12 l6 banner-image">
            <img src="./static/img/id_view_hover.png" alt="Unsplashed background img 1">
          </div>
        </div>
      </div>
      <div class="container" id="index-features">          <!--   Icon Section   -->
          <div class="row">
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center light-blue-text"><i class="medium material-icons">search</i></h2>
                <h5 class="center">API Metadata Exploration</h5>

                <p class="light">We use Smart-API specifications, which provides rich semantic information about each API source.</p>
              </div>
            </div>

            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center light-blue-text"><i class="medium material-icons">timeline</i></h2>
                <h5 class="center">Knowledge Path Identification</h5>

                <p class="light">We utilize graph theory algorithms to automatically help user identify potential paths connecting from different biological concepts.</p>
              </div>
            </div>

            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center light-blue-text"><i class="medium material-icons">explore</i></h2>
                <h5 class="center">API Call Chaining</h5>

                <p class="light">We help users automatically generate API calls based on needs, and chain API calls together based on API inputs and outputs.</p>
              </div>
            </div>
          </div>
        <br><br>
      </div>
      <div class="row intro" id="intro_browse">
        <div class="container">
          <div class="col m6 s12 intro-image">
            <img src="./static/img/landing_page_browse.png" alt="landing_page_browse">
          </div>
          <div class="col m12 l4">
            <br><br>
            <h1 class="header center orange-text">Browse API Metadata</h1>
            <div class="row center">
              <h5 class="header col s12 light black-text">Our tool ingests SmartAPI specification and displays it as Sankey Plot. You can easily find the input and output information of your target API endpoint here.</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="row intro" id="intro_query">
        <div class="container">
          <div class="col m12 l4">
            <br><br>
            <h1 class="header center orange-text">Query API Metadata</h1>
            <div class="row center">
              <h5 class="header col s12 light black-text">Our tool could be utilized to search for the proper API which best serves your research purpose based on the input you have and the output you want.</h5>
            </div>
          </div>
          <div class="col m6 s12 intro-image">
            <img src="./static/img/landing_page_query.png" alt="landing_page_query">
          </div>
        </div>
      </div>
      <div class="row intro" id="intro_retrieval">
        <div class="container">
          <div class="col m6 s12 intro-image">
            <img src="./static/img/landing_page_retrieve.png" alt="landing_page_retrieve">
          </div>
          <div class="col m12 l4">
            <br><br>
            <h1 class="header center orange-text">Retrieve Data from API</h1>
            <div class="row center">
              <h5 class="header col s12 light black-text">Our tool could be utilized to retrieve and parse biological data based on your given input and specified output. Data retrieval is done through real-time API calls and data parsing is done through JSON-LD.</h5>
            </div>
          </div>
        </div>
      </div>
   </body>  
</html>